@import "tailwindcss";

:root {
  --background: #fff6e3;
  --foreground: #171717;
  --color-primary: #729458;
  --color-secondary: #9cb7c8;
  --color-light-secondary: #dbebf4;
  --color-paper: #fff6e3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.text-primary {
  color: var(--color-primary);
}
.bg-primary {
  background-color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.text-paper {
  color: var(--color-paper);
}
.bg-paper {
  background-color: var(--color-paper);
}
.bg-light-secondary {
  background-color: var(--color-light-secondary);
}
.rounded-2\.5xl {
  border-radius: calc(var(--radius-sm) * 5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

th {
  text-align: start;
}

.users-table th:not(:first-of-type),
.users-table td:not(:first-of-type) {
  padding-left: 0.5rem;
}

.users-table th:not(:last-of-type),
.users-table td:not(:last-of-type) {
  padding-right: 0.5rem;
}

.users-table th,
.users-table td {
  white-space: nowrap;
}
